<% @books.each do |book| %>
  <ul>
    <li>
      <h4><%= link_to book.title, work_path(book.id) %></h4>
      <small><%= book.creator %></small>
      <p><%= book.num_votes %></p>
    </li>
  </ul>
<% end%>
