<h3>List of Upvotes</h3>
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th width="200">User</th>
      <th width="200">Work</th>
      <th width="200">Date</th>
    </tr>
  </thead>
  <tbody>
    <% @upvotes.each do |upvote| %>
    <tr>
      <td><%= link_to upvote.user_id, upvote_path(upvote.id) %></td>
      <td><%= link_to upvote.work_id, upvote_path(upvote.id)%></td>
      <td><%= upvote.created_at.strftime("%B %d, %Y") %></td>
    </tr>
    <% end%>
  </tbody>
</table>
