<%= form_for @user, url: login_path do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.submit 'Log In', class: 'button' %>
<% end %>

<h4>A note about logging in</h4>
<p>
  Sign in as whoever you want. We not tracking anything.
</p>
