
<main class = "row">
  <h2>Login</h2>

  <%= form_for @user, url: login_path do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.submit %>
  <% end %>
  <article>
    <h4>A note about logging in</h4>
    <p>
      There is no password field.In fact,there is
    </p>
    <p>
      we will lweedbjsnxjsdjsdsjdhjsd
    </p>
  </article>
</main>
