<main class="row">
  <h2><strong>Log In</strong></h2>
    <%= form_for @user, url: login_path do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.submit %>
    <% end %>
</main>
