<!-- top work -->
<section>

  <h3>Media Spotlight
  <%= link_to "work placeholder", root_path %>
  by <%= "creator name placeholder" %>
  </h3>
  <p>
    <%= "placeholder votes - work type placeholder" %>
  </p>

</section>

<hr />

<!-- top tens -->

<section>

  <section>
    <h3>Top Movies</h3>
    <ul>
    </ul>

  </section><!-- top ten movies -->

  <section>
    <h3>Top Books</h3>

  </section><!-- top ten books -->

  <section>
    <h3>Top Albums</h3>

  </section><!-- top ten albums -->

</section><!-- top tens container -->
