<article class="media-details">
 <h3><%= @publication.title %></h3>
 <p>Created by: <%= @publication.creator %></p>
 <p>Published: <%= @publication.publication_year %></p>
 <p>Description: <%= @publication.description %></p>
 <section>
   <a class="button" href="/">Back to media ranks</a>
   <a class="button" href="/works/314/edit">Edit</a>
   <a class="button" rel="nofollow" data-method="post" href="/works/314/upvote">Upvote</a>
   <a class="alert button" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/works/314">Delete</a>
 </section>
</article>
