<h2>Media Spotlight: <%=  %></h2>

<section>
  <h2>Top Movies</h2>
</section>

<section>
  <h2>Top Books</h2>
</section>

<section>
  <h2>Top Albums</h2>
  <ul>
    <% @works.each do |work|  %>
      <li>
        <% if work.category == "album" %>
          <%= link_to work.title, work_path(work.id) %>
          <%= link_to "Edit", edit_user_path(user.id) %>
          <%= link_to "Delete", work_path(work.id), method: :delete %>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>
