<h2>Media Spotlight: <%=  %></h2>

<section>
  <h2>Top Movies</h2>
  <ul>
    <% @top_movies.each do |movie| %>
    <li>
      <%= link_to movie.title, work_path(movie.id) %>
    </li>
    <% end %>
  </ul>
</section>

<section>
  <h2>Top Books</h2>
  <ul>
    <% @top_books.each do |book| %>
    <li>
      <%= link_to book.title, work_path(book.id) %>
    </li>
    <% end %>
  </ul>
</section>

<section>
  <h2>Top Albums</h2>
  <ul>
    <% @top_albums.each do |album| %>
    <li>
      <%= link_to album.title, work_path(album.id) %>
    </li>
    <% end %>
  </ul>
</section>
