<h1>Index</h1>

<section class="css-grid">
  <article class="column-1">
    <h3>Top Movies</h3>
    <%= render partial: "layouts/work", collection: @movies, as: :item %>
  </article>
  <article class="column-2">
    <h3>Top Books</h3>
    <%= render partial: "layouts/work", collection: @books, as: :item %>
  </article>
  <article class="column-3">
    <h3>Top Albums</h3>
    <%= render partial: "layouts/work", collection: @albums, as: :item %>
  </article>
</section>
