<h1>List of works</h1>

<% categories = Work.make_category_hash %>
<% categories.each do |category| %>
  <h3><%= category %></h3>
  <% works = @works.where(category: category) %>
  <% i = 0 %>
  <% while i < works.length %>
    <strong><%= works[i].title %></strong>
    <span> by <%= works[i].creator %></span>
    <br>
    <% i += 1%>
  <% end %>
<% end %>
