<!-- must list by cate-->

<ul> List of Works
  <% @works.each do |work| %>
  <li>
    <strong><%= link_to(work.title, works_path(work)) %></strong>
    <%= work.created_by %>
  </li>
</ul>
<% end %>
