<h3>List of Works</h3>

<%= render partial: 'display_work', locals: {category: 'Albums', model: @albums} %>

<%= render partial: 'display_work', locals: {category: 'Books', model: @books} %>

<%= render partial: 'display_work', locals: {category: 'Movies', model: @movies} %>
