

<main class="row">
  <article class="media-table">
    <h3>Top Movies</h3>
    <%= render partial: "layouts/work", collection: @movies, as: :item %>
  </article>
  <article class="media-table">
    <h3>Top Books</h3>
    <%= render partial: "layouts/work", collection: @books, as: :item %>
  </article>
  <article class="media-table">
    <h3>Top Albums</h3>
    <%= render partial: "layouts/work", collection: @albums, as: :item %>
  </article>
</main>
