
<section class="all-work-info">
  <section class="work-info">
    <h3>Individual Work: </h3>
    <p> <%= album.title %></p>
  </section>


  <section class="modify-work">
    <h3>Modify work:  </h3>
    <ul>
      <li>
        <%= link_to "Edit", edit_work_path %>
      </li>

    </ul>
  </section>
</section>
