<h1 class="page-header"></h1>
<section class="row spotlight">
  <div>
    <h3><span class="media-spotlight-header">Media Spotlight</span> </h3>
    <p></p>
  </div>
</section>

<section class="top-ten-container">
  <section class="top-ten">
    <h3>Top Movies</h3>
    <li>
      <h4>

      </h4>
      <p> </p>
    </li>
    <ul>

    </ul>
  </section>

  <section class="top-ten">
    <h3>Top Books</h3>
    <ul>

    </ul>
    <!-- <a href="/works.books">View More Books</a> -->
  </section>

  <section class="top-ten">
    <h3>Top Albums</h3>
    <ul>

    </ul>
    <!-- <a href="/works.albums">View More Albums</a> -->
  </section>

</section>
