<h3>List of Users</h3>
<table class="users-index-table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Votes</th>
      <th>Joined</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%=link_to user.name, user_path(user.id) %></td>
        <td><%= user.votes.length %></td>
        <td><%= user.created_at.strftime("%b %d, %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Back to Top Media", root_path, class: "button" %>
