<main class="row">
  <h3>List of Users</h3>
  <table>
   <thead>
     <tr>
       <th>Username</th>
       <th width="100">Votes</th>
       <th width="200">Joined</th>
     </tr>
   </thead>
   <tbody>
     <% @users.each do |user| %>
       <tr>
         <td><a href="/users/1"><%= user.name %></a></td>
         <td>8</td>
         <td>Apr  1, 2017</td>
       </tr>
      <% end %>
    </tbody>
  </table>
</main>
