<h1>List of Users</h1>
<% @users.each do |user| %>
  <span><%=link_to user.name, user_path(user.id)%></span>
  <span><%=user.created_at.to_s(:long)%></span>
  <br>
<% end %>

<ul>
  <li><%= link_to "Back to Media Ranks", root_path %></li>
</ul>
