<main class = "row">
  <h3>List of Users</h3>


  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Votes</th>
        <th>Joined</th>
      </tr>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.user_name, user_path(user.id) %></td>
            <td><%= user.votes.count %></td>
            <td><%= user.created_at.strftime("%B %d, %Y")%></td>
          </tr>
        <% end %>
      </tbody>
    </thead>
  </table>
  <%= link_to("Back to Media List", root_path, :class => "button") %>
</main>
