<table>
  <tr>
    <th>Username</th>
    <th>Votes</th>
    <th>Joined</th>
    <th>Edit</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <th><%= link_to user.name, user_path(user) %></th>
    <th>(votes)</th>
    <th><%= user.joined %></th>
    <th><%= link_to "Edit", edit_user_path(user) %></th>
    <th><%= link_to("Delete", user_path(user), method: :delete, data: { confirm: "Are you sure you want to delete #{user.name}?" }) %></th>
  </tr>
  <% end %>
</table>
