<h3>List of Users</h3>
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Votes</th>
      <th>Joined</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <% @users.each do |user| %>
    <td>
      <%= link_to(user.name, user_path(user)) %>
    </td>
    <td>
      <%= user.total_user_votes %> votes
    </td>
    <td>
      <%= user.created_at.strftime("%b %d, %Y")%>
    </td>
    <% end %>
  </tr>
  </tbody>
</table>
