<h3>List of Users</h3>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th width="100">Votes</th>
      <th width="200">Joined</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @users.each do |user| %>
      <div class="user">
        <td><strong><%= link_to user.name, user_path(user.id) %></strong></td>
        <td><%= Vote.all.where(user_id: user).count %></td>
        <td><%= user.created_at.strftime("%b %d, %Y") %></td>
      </div>
    </tr>
    <% end %>
  </tbody>
</table>

<a class="button" <%= link_to "Back to Media List", root_path %> </a>
