<main class="row">
    <h3>List of Users</h3>
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th width="100">Votes</th>
      <th width="200">Joined</th>
    </tr>
  </thead>
  <%@users.each do |item|%>
  <tbody>
      <td><%=link_to item.username, user_path(user[:id])%></td>
      <td><%=item.votes.count%></td>
      <td><%=item.created_at%></td>
</tbody>
  <%end%>
</table>

<a class="button" href="/">Back to Media List</a>

  </main>
