<br><br><br><br><br><br>
<h3>All Users</h3>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Votes</th>
      <th>Joined</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td>TBD</td>
        <td><%= user.created_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
