<h1>List of Users</h1>
<ul>
  <% @users.each do |user|  %>
    <li>
      <%= link_to user.username, author_path(author.id) %>
    </li>
    <li>
      <%= user.votes %>
    </li>
    <li>
      <%= user.created_at.to_date %>
    </li>
  <% end %>
</ul>
