<h2>List of Users</h2>

</table>
<h3>Users</h3>
<table>
  <tr>
    <th>Username</th>
    <th>Votes</th>
    <th>Joined</th>
  <tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %><td>
      <td>vote count</td>
      <td><%= user.created_at %></td>
    </tr>
  <% end %>
</table>
