<h3>User Summary:
  <%= link_to("#{@user.name}", user_path(@user)) %>
</h3>
<p>Joined site <%= @user.created_at.to_date.to_formatted_s(:long) %></p>

<section class=vote-table><h4>Votes</h4>
  <ul class=labels>
    <li>Media Title</li>
    <li>Created By</li>
    <li>Published</li>
    <li>Category</li>
    <li>Voted On</li>
  </ul>

  <ul>
    <li>Future list item
    </li>
  </ul>

</section>

<nav class=bottom>
  <ul>
    <li>
      <%= link_to("See all Users", users_path, class: "button") %>
    </li>
    <li>
      <%= link_to("Back to Media List", works_path, class: "button") %>
    </li>
  </ul>
</nav>

See all Users
Back to Media List
