Show user's details

<h1>User Summary: </h1>
<h3>Joined site </h3>

<h4>Votes</h4>

<table>
  <tr>
    <th>Media Title</th>
    <th>Created By</th>
    <th>Published</th>
    <th>Category</th>
    <th>Voted On</th>
  </tr>
  <% votes = Vote.all.where(user_id: @user) %>
  <% votes.each do |vote| %>
  <% work = Work.find_by(id: vote.work_id) %>
    <% if work %>
  <tr>
      <td><%= work.title %></td>
      <td><%= work.creator %></td>
      <td><%= work.publication_year %></td>
      <td><%= work.category %></td>
    <% end %>
  <% end %>
  </tr>
</table>
