<h3>User Summary: USER.NAME</h3>
<p>Joined site USER.Created_at(formatted to look like Apr 1, 2017)</p>

<section class=vote-table><h4>Votes</h4>
  <ul class=labels>
    <li>Media Title</li>
    <li>Created By</li>
    <li>Published</li>
    <li>Category</li>
    <li>Voted On</li>
  </ul>

  <ul>
    <li>Future list item
    </li>
  </ul>

</section>
