<h3>User Summary: <%= @user.name %></h3>
<p>Joined site <%= @user.created_at %></p>

<h3>Vote statistics to be added</h3>

<ul>
  <li><%= link_to "See all Users", users_path(@user) %></li>
  <li><%= link_to "Back to Media List", mains_path(@user) %></li>
</ul>
