<h2> Media Spotlight: </h2>
     <%= @instagrams.first %>

<h3>Top Twitters<h3>
  <%= @twitters.first(10) %>


<h3>Top Instagrams<h3>
  <%= @instagrams.first(10) %>

<h3>Top Subreddits </h3>
 <%= @subreddits.first(10) %>
