<h1> Add a new Work<h1>

  <ul>
    <li class = "button">
      <%= link_to 'Add a Twitter', new_twitter_path %>
    </li>
    <li class = "button">
      <%= link_to 'Add a Instagram', new_instagram_path %>
    </li>
    <li class = "button">
        <%= link_to 'Add a new Subreddit', new_instagram_path %>
    </li>
  </ul>
