<h1>Media Ranker</h1>

<section>
  <h3>Media Spotlight Section</h3>
</section>

<% @hash.each {|key, value| %>
  <h3><%= key %></h3>
  <% i = 0 %>
  <% while i < Work.num_runs(value) %>
    <% work = value[i] %>
    <strong><%= work.title %></strong>
    <span> by <%= work.creator %></span>
    <br>
    <% i += 1%>
  <% end %>
<%  } %>
