<h1>Media Ranker</h1>

<section>
  <h3>Media Spotlight Section</h3>
</section>

<% @hash.each {|key, value| %>
  <h3><%= key %></h3>

  <% i = 0 %>
  <% while i < 10 %>
    <strong><%= value[i].title %></strong>
    <span> by <%= value[i].creator %></span>
    <br>
    <% i += 1%>
  <% end %>

<%  } %>
