<h1>Media Ranker</h1>

<section>
  <h3>Media Spotlight Section</h3>
</section>

<% categories = Work.make_category_hash %>
<% categories.each do |category| %>
  <h3><%= category %></h3>
  <% works = @works.where(category: category) %>
  <% i = 0 %>
  <ul>
    <% while i < Work.num_runs(works) %>
      <li>
        <h4><%= link_to works[i].title, work_path(works[i][:id])%> by <%= works[i].creator %></h4>
        <p><%= works[i].votes.count %> votes</p>
      </li>
      <% i += 1%>
    <% end %>
  </ul>

<% end %>
