<h1>Media Ranker</h1>

<% @hash.each {|key, value| %>
  <h3><%= key %></h3>
  <% value.each do |work| %>
    <strong><%= work.title %></strong>
    <span> by <%= work.creator %></span>
    <br>
  <% end %>
<%  } %>
