<main class="row">
  <section class="row spotlight">
    <div class="">
      <h3>
        <span class="media-spotlight-header">Media Spotlight: </span>
        <a href="#">Add link to top work</a><span>   by: work.creator </span>
      </h3>
      <p>Add num votes & description</p>
    </div>
  </section>
  <hr class="root-hr">

  </hr>
  <section class="top-ten-container">
    <section class="top-ten">
      <h3>Top Movies</h3>
    </section>
    <section class="top-ten">
      <h3>Top Books</h3>
    </section>
    <section class="top-ten">
      <h3>Top Albums</h3>
    </section>
  </section>

</main>
