<h2>Rankster</h2>
<small>Ranking the Best of Everything</small><br>

<%= link_to("Back to media ranks", root_path, class: "button") %>
<%= link_to("View all media", works_path, class: "button") %>
<%= link_to("Add new work", new_work_path, class: "button") %>
<%= link_to("View all users", users_path, class: "button") %>
