<table>
  <thead>
    <tr>
      <th>
        Title
      </th>
      <th>
        Created By
      </th>
      <th>
        Published
      </th>
      <th>
        Upvote
      </th>
    </tr>
  </thead>
  <% arts.each do |art| %>
  <tr>
      <td>
        <%= link_to(art.title, art_path(art)) %>
      </td>
      <td>
        <%= art.creator %>
      </td>
      <td>
        <%= art.pub_year %>
      </td>
      <td>
        <button class="button">Upvote</button>
      </td>
  </tr>
  <% end %>
</table>
