<h1>Works of Art</h1>

<h3>Albums</h3>

<%= render partial: "table", locals: {arts: @albums} %>

<h3>Books</h3>

<%= render partial: "table", locals: {arts: @books} %>


<h3>Movies</h3>

<%= render partial: "table", locals: {arts: @movies} %>
