<h3>List Of Works</h3>

<h3>Albums</h3>

<%= render partial: "table", locals: {arts: @albums} %>

<h3>Books</h3>

<%= render partial: "table", locals: {arts: @books} %>


<h3>Movies</h3>

<%= render partial: "table", locals: {arts: @movies} %>
