<main>
  <section>
    <div class="">
      <h3>
        <span>Media Spotlight</span>
      </h3>
      <p></p>

    </div>
  </section>
  <hr>
  <section>
    <section>
      <section>
        <section>
          <section>
            
          </section>
        </section>
      </section>
    </section>
  </section>
</main>
