/*
 *= require normalize-rails
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

/* general styles for the page */
body, h1, h2, h3, h4, h5 {
  font-family: "Gudea", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}



.row {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
}

.row::before, .row::after {
  display: table;
  content: " ";
}

.row::after {
  clear: both;
}
/* styles for the header on all pages */

.page-header {
  max-width: 100%;
  background-color: #b2dfdb;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  padding: 25px 20px 10px 20px;
}

.page-header h2 {
  text-align: center;
  margin: 25px auto 40px auto;
}
