/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require normalize-rails

 *
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self


 */
 /* General */
 h1, h2, h3, h4, h5 {
   font-weight: bold;
 }

 h3 {
   color: #26A69A;
   font-size: 1.1875rem;
   line-height: 1.4;
   margin-top: 0;
   margin-bottom: 0.5rem;
 }

 h4 {
   font-size: 1.125rem;
   line-height: 1.4;
 }

 ul {
   list-style-type: none;
   margin-bottom: 1rem;
   list-style-position: outside;
   line-height: 1.6;
 }

/*Application ERB Header*/


 .main-header {
   background-color: #B2DFDB;
   max-width: 100%;
   border-bottom: 1px solid #EEEEEE;
   margin-bottom: 10px;
   padding: 25px 20px 10px 20px;
 }

 .main-header h2 {
   text-align: center;
 }

 .header-title a {
   color: #FF5722;
 }

 .sub-header {
   color: white;
 }

 /* Main Page */

.media-spotlight-header {
  color: #424242;
}

.root-hr {
  color: #EEEEEE;
  margin: 0px auto 75px auto;
}

.most-popular {
  text-decoration: underline;
}

.top-ten ul {
  margin-left: 0px;
}


.top-ten-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2em
}

.top-ten-container small {
  color: slategrey;
}

.top-ten-category {
  border-bottom: 2px solid;
  border-color: #B2DFDB;
}

/* Flash */
.flash {
  background-color: #e6e6e6;
  color: #8a8a8a;
}

.success {
  color: #8a8a8a;
}
