// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-ten-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
}

.spotlight span, .spotlight p {
  color: #5c5c5c;
}

.spotlight a {
  text-decoration: underline;
}

.spotlight {
    border-bottom: 1px solid #cacaca;
    padding: 2em 0em 1em 0em;
    margin-bottom: 5em;
}

.top-ten h3 {
    border-bottom: 2px solid  #B2DFDB;
}
