// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr.works-table {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr 2fr 2fr;
}

a.button {
  margin-bottom: 0;
}

section.work-actions a.button:last-child {
  background-color: #FF5722;
}

article {
  margin-top: 1em;
}
