<% if model.errors.messages.any? %>
  <section>

    <ul>
      <% model.errors.messages.each do |field, problem| %>
      <li><%= field%>
        <% problem.each do |message| %>
        <%= message %>
        <% end %>
      </li>
      <% end %>
    </ul>

  </section>
<% end %>
