

    <ul>
      <% model.errors.messages.each do |field, problem| %>
      <li><strong><%= field.capitalize%></strong>
        <% problem.each do |message| %>
        <%= message %>
        <% end %>
      </li>
      <% end %>
    </ul>
