
  <ul>
      <li>
        <h4>
          <%= link_to item.title, work_path(item) %>
          <small>by <%= item.creator %></small>
        </h4>
        <p> <!--#item.votes %> --> votes</p>
      </li>
  </ul>
